@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, 'BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue', sans-serif, ' Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue', sans-serif;

}

body {
    min-width: 90vw;
    min-height: 100vh;
    background-color: #f0f2f5;

}

/*EFEITO DESCER ATE O ID*/
html {
    scroll-behavior: smooth;
    transition: ease 4s;
}

/*ESTILIZAÇÃO DO TOPO */
header {
    position: fixed;
    z-index: 1;
    background-color: #fff;
    display: flex;
    width: 100%;

}

.logo {
    width: 25%;
}

#btn-mobile {
    display: none;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 10px;
    margin-right: 10px;

}

button {
    font-size: 30px;
    border-radius: 5px;
    padding: 5px;
    border: none;
    background-color: transparent;
    color: #aca8a8;
}

button:hover {
    color: #000;
}

/*ESTILIZAÇÃO DA LOGO PRINCIPAL*/
article {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.container.mains {
    width: 90%;
    margin: auto;
}

.img-main {
    width: 40%;
    height: auto;
}

/*ESTILIZAÇÃO SOBRE A EQUIPE E SOBRE OS SERVIÇOS*/
.container-we-are,
.container-class {
    display: flex;
    background-color: #cedcdf;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 80%;
    margin: 1% auto;
    gap: 20px;
    padding: 30px;
}

h1 {
    font-size: 50px;
}

h2 {
    font-weight: normal;
}

.img-equip {
    width: 100%;
}

/*ESTILAZAÇÃO DO TEXTO SERVIÇOS*/
.tag-service {
    width: 100%;
    font-size: 50px;
    text-align: center;
}

/*ESTILIZAÇÃO NAS IMAGENS DE SERVIÇO*/
.img-services {
    margin-top: 20px;
    height: 420px;
    width: 350px;
    background-color: #cedcdf;
    text-align: center;
}

/*EFEITO SOBRE O CONTAINER DOS SERVIÇOS*/
.container-class {
    opacity: 0.5;
    font-weight: normal;
}

.container-class:hover {
    opacity: 1.8;
    transition: 0.6s;
}

/*ESTILIZAÇÃO DO CONTAINER CARDAPIO*/
.container-drinks {
    display: flex;
    background-color: #cedcdf;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 80%;
    margin: 1% auto;
    gap: 20px;
    opacity: 0.6;
}

/*ESTILIZAÇÃO DOS TEXTOS DO CARDAPIO*/
.menu {
    justify-content: baseline;
    display: flex;
    gap: 10px;
}

ul {
    list-style: none;

}

li {
    margin-top: 50px;
}

.h1 {
    font-size: 70px;
}

.h2 {
    font-size: 40px;
}

.p {
    font-size: 20px;
}

/*EFEITO SUAVE NO CARDAPIO*/
.container-drinks:hover {
    opacity: 1.8;
    transition: 0.6s;
}

/*ESTILIZAÇÃO DO RODAPÉ*/
footer {
    margin-top: auto;
    width: 100%;
    background-color: #fff;
}

.footer-p {
    color: #000;
    text-align: center;
    font-size: 15px;

}

input {
    display: none;
}

@media (max-width:1920px) {

    /*CONTAINER DE SERVIÇOS*/
    .container-class {
        display: flex;
        background-color: #cedcdf;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 80%;
        margin: 1% auto;
        gap: 20px;
        padding: 10px;
    }

    .img-services {
        margin-top: 20px;
        height: 220px;
        width: 190px;
        background-color: #cedcdf;
        text-align: center;
    }

    .tag-service {
        width: 100%;
        font-size: 40px;
        text-align: center;
    }

    /*IMAGEM DO CARDAPIO DE BEBIDAS*/
    .img-drinks {
        width: 80%;
    }

    /*ESTILIZAÇÃO DO CONTAINER CARDAPIO*/
    .container-drinks {
        display: flex;
        background-color: #cedcdf;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 80%;
        margin: 1% auto;
        gap: 10px;
        opacity: 0.6;
    }

    /*ESTILIZAÇÃO DOS TEXTOS DO CARDAPIO*/
    .menu {
        justify-content: baseline;
        display: flex;
        gap: 10px;
    }

    ul {
        list-style: none;

    }

    li {
        margin-top: 30px;
    }

    .h1 {
        font-size: 60px;
    }

    .h2 {
        font-size: 30px;
    }

    .p {
        font-size: 20px;
    }
}



@media (max-width:600px) {
    header {
        position: fixed;
    }

    /*ESTILIZAÇÃO DO MENU MOBILE*/
    a {
        text-decoration: none;
        color: #1E1E23;
        opacity: 1;
        font-family: 'Roboto', sans-serif;
        font-size: 1.5em;
        font-weight: 400;
        transition: 200ms;
    }

    .container-menu {
        display: flex;
        flex-direction: column;
        position: relative;
        width: 100%;
        top: 10px;
        z-index: 1;
        -webkit-user-select: none;
        user-select: none;
        margin-right: 100px;
        right: 50%;/* FAZ COM QUE O MENU FIQUE A DIREITA */
    }

    /*ESTILIZAÇÃO DO CHECKBOX INVISIVEL*/
    input {
        display: flex;
        width: 100%;
        height: 32px;
        position: absolute;
        cursor: pointer;
        margin-left: 150%; /* LOCAL DO CHECKBOX*/
        top: -6px;
        opacity: 0; /*MANTEM O ELEMENTO INVISIVEL*/
        z-index: 2;/*FAZ COM QUE O ELEMENTO FIQUE ACIMA DE OUTRO*/
    }

    /* ANIMAÇÃO*/
    span {
        margin-left: 195%; /*MOVIMENTANDO A IMAGEM DE MENU PARA ESQUERDA*/
        display: flex;
        width: 30px;
        height: 2px;
        margin-bottom: 5px;
        position: relative;
        background: #f76503;
        border-radius: 3px;
        z-index: 1;
        transform-origin: 5px 0px;
        background: cubic-bezier(0.10, 0.1, 0.01, 0.0); /*MOVIMENTO DAS LINHAS DE MENU FORMANDO O X*/
        transition: 0.5s;
        opacity: 0.55s ease;
    }

    /*ANIMAÇÕES DA TECLA ABRIR E FECHAR MENU*/
    .container-menu input:first-child {
        transform-origin: 0% 0%;
    }

    .container-menu input:nth-last-child(2) {
        transform-origin: 0% 0%;
        
    }

    .container-menu input:checked~span {
        opacity: 1;
        transform: rotate(45deg) translate(-3px, -1px);
       
    }

    .container-menu input:checked~span:nth-last-child(3) {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
    }

    .container-menu input:checked~span:nth-last-child(2) {
        transform: rotate(-40deg) translate(0, -1px);
    }

    /*MENU*/
    .menu {
        position: absolute;
        width: 180px;
        height: 550px;
        margin: -10px 0 0 290px;
        align-items: center;
        padding-top: 60px;
        background-color: #F5F6FA;
        -webkit-font-smoothing: antialiased;    
        /*APLICANDO MOVIMENTO DA DIREITA PARA A ESQUERDAR MENU*/
        transform: translateX(120%); /* ADICIONEI ESTA PROPRIEDADE DEIXANDO POSITIVO MOVIMENTA PARA ESQUERDA*/
    }

    /*ESTA PARTE CLICAVA UM PADDING ASSIM QUE O MENU APARECIA E TINHA UM DELAY DE 2S*/
    .menu a {
        padding: 0px 0;
        transition-delay: 0s;  
    }
    .container-menu input:checked~ul {
        transform: none;
    }
    .container-we-are,
    .container-class {
        display: flex;
        flex-direction: column;
        background-color: #cedcdf;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 80%;
        margin: 1% auto;
        gap: 20px;
        padding: 30px;
    }
    h1 {
        font-size: 20px;
    }
    h2 {
        font-weight: normal;
    }
    .img-equip {
        width: 100%;
    }
    .img-services {
        margin-top: 0px;
        height: 0%;
        width: 70%;
        background-color: #cedcdf;
        text-align: center;
    }
    .container-class,
    .container-drinks {
        opacity: 1;
        font-weight: normal;
    }
    .tag-service {
        font-size: 30px;
    }
    .container-drinks {
        display: flex;
        background-color: #cedcdf;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 80%;
        height: 80%;
        margin: 0% auto;
    }
    .img-drinks {
        height: 450px;
    }
    ul {
        list-style: none;
        display: flex;
        flex-direction: column;
    }
    li {
        margin-top: 20px;
    }
    .h1 {
        font-size: 20px;
    }
    .h2 {
        font-size: 15px;
    }
    .p {
        font-size: 10px;
    }




}